<!doctype html>
<html class="<%= current.path[0] == 'articles' ? current.source : '' %>">
<head>
<title><%= title %></title>
<meta name="description" content="<%= description %>" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="/main.css" />
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
    <!-- If the current page is blog/ but not blog/index.ejs… -->
  <% if(current.path[0] == "articles" && current.source !== 'index') { %>
    <!-- Render the partial blog/_nest -->
    <%- partial(current.path[0] + "/_nest") %>
  <% } else { %>
  <!-- Otherwise, render the yield -->
      <%- yield %>
  <% } %>
</body>
</html>
